@model IEnumerable<BookStore.Models.CategoryType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Name
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryTypeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryTypeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryTypeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
